= form_for @reason do |f|
  -if @reason.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reason.errors.count, "error")} prohibited this reason from being saved:"
      %ul
        - @reason.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :text
    %br/
    = f.text_field :text
  
  .actions
    = f.submit 'Save'
