%h1 Listing reasons

%div

%table
  %tr
    %th reasons
    %th
    %th
    %th

  - @reasons.each do |reason|
    %tr
      %td= reason.text
      %td= link_to 'Show', reason
      %td= link_to 'Edit', edit_reason_path(reason)
      %td= link_to 'Destroy', reason, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Reason', new_reason_path
