= form_for @page do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :name, "Everybody Loves "
    %br/
    = f.text_field :name

  %p
    = f.label :slug, "everybodylov.es/"
    %br/
    = f.text_field :slug
  
  %p
    = f.label :description
    %br/
    = f.text_field :description
  
  .actions
    = f.submit 'Save'
