%h2
  = "everybodylov.es/#{@page.slug}"
  %small= link_to "(what's this all about?)", '#'

= link_to 

%p
  = @page.description

%p
  = "Below are all the comments people have left about #{@page.name}.  To leave a comment, "
  -if user_signed_in?
    = link_to('enter it here.', new_page_reason_path(@page))
  -else
    = link_to('sign in', new_user_session_path)
    or
    = link_to('create an account.', new_user_registration_path)


-if @page.reasons.count > 0
  %h3 here's why
  %ul
    - @page.reasons.each do |reason|
      %li
        %span.title= reason.title
        %span.author= reason.author
